

.css-1vt0g4s {
    &:focus {
        background: #09093B;
        color: #6364EE;
    }
    option {
        background: #09093B !important;
        color: #6364EE !important;
        
    }
    
}

.influence {
    &::before {
        content: 'Seu nível ' url('../assets/images/Polygon.png');
        position: absolute;
        padding-left: 10px;
        top: 55%;
        width: 80px;

        font-style: normal;
        font-size: 16px;
        text-align: center;

    }
    
}

.position {
    &::after {
        content: '';
        width: 4px;
        height: 4px;
        background: #6364EE;
        border-radius: 25px;
     
        display: block;
        margin-left: 3px;
    }
}

.doughnutBox {
    &::after {
        content: 'Interação';
        position: absolute;
        top: 415px;
        left: 135px;
        z-index: -10;
    }
}

.metric1, .metric2 {
    &::before {
        content: '';
        width: 15px;
        height: 15px;
        background: #464AA6;
        // border-radius: 25px;
     
        display: inline-block;
        margin-right: 10px;
    }
}

.metric2 {
    &::before {
        background: #1B208C;
    }
}
