body {
    overflow: hidden;
}

.rightBox {
    box-sizing: border-box;
    background: radial-gradient(97.57% 210.75% at 0.9% 2.98%, rgba(0, 17, 255, 0.4) 0%, rgba(255, 255, 255, 0) 100%);
    backdrop-filter: blur(1rem);

    border: 3px solid #6363ee9c;
    border-radius: 100px;
    z-index: 100;

    

    &:hover {
    backdrop-filter: blur(1rem);
    
    box-shadow: -5px 8px 15px rgba(0, 0, 0, 0.25);
    transition: var(--transition);
}
}

.elipse1, .elipse2, .elipse3, .circle1 {
    background: none;
    position: absolute;;
    z-index: -1000;
}
.elipse1 {
    border: 2px solid #6365EE;
    border-radius: 200px;
    width: 156px;
    height: 484px;
    left: 7%;
    top: 72%;
}

.elipse2 {
    width: 98px;
    height: 413px;
    left: 55%;
    top: 48%;
    border: 1.2562px solid #FA00FF;
    border-radius: 125.62px;
    transform: rotate(-90deg);
}

.elipse3 {
    position: absolute;
    width: 156px;
    height: 484px;
    left: 80%;
    top: -42%;

    /* Secundary / Rosa */

    border: 2px solid #FA00FF;
    border-radius: 200px;
}

.circle1 {
    width: 68px;
    height: 68px;
    left: 43%;
    top: 2%;

    border: 2px solid #6365EE;
    border-radius: 50px;
}